<!doctype html>
<html lang="tr">
<head>
  <meta charset="utf-8" />
  <title>Türkiye Haritası</title>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.15.1/css/ol.css"
    type="text/css"
  />
  <style>
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
    }
    h2 {
      text-align: center;
      margin: 10px 0;
      color: #333;
    }
    #map {
      width: 100%;
      height: calc(100% - 48px);
    }
  </style>
  <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.15.1/build/ol.js"></script>
</head>
<body>
  <h2>Türkiye Haritası</h2>
  <div id="map"></div>
  <script>
    // Türkiye merkez koordinatları (enlem, boylam): 39.0, 35.0
    // EPSG:4326'dan EPSG:3857'ye dönüşüm için ol.proj.fromLonLat kullanılıyor

    const centerCoords = ol.proj.fromLonLat([35.0, 39.0]);

    const map = new ol.Map({
      target: 'map',
      layers: [
        new ol.layer.Tile({
          source: new ol.source.OSM()
        })
      ],
      view: new ol.View({
        center: centerCoords,
        zoom: 6,
        maxZoom: 15,
        minZoom: 4
      })
    });

    map.on('click', function(e) {
      const coord = ol.proj.toLonLat(e.coordinate);
      alert('Tıklanan koordinatlar:\nEnlem: ' + coord[1].toFixed(6) + '\nBoylam: ' + coord[0].toFixed(6));
    });
  </script>
</body>
</html>
